/* App.css */
.App {
  text-align: center;
}

.NavLinks {
  background-color: #011141;
  padding: 10px;
}

.NavLink {
  margin-right: 10px;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
} 

.NavLink:hover {
  background-color: #555;
}.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
  
}
.cabeçalho {
  background-color: skyblue;
  padding: 1px;
}
.box1 {
  background-color: white;
  display: flex;
  width: 190px;
  height: 10px;
  padding: 50px;
  margin-top: 5px;
  margin-left:15px;
  box-shadow: 0 10px 10px rgb(129, 129, 129);
  transform: translateX(15px);
}
.box2 {
  background-color:  white;
  display: flex;
  width: 190px;
  height: 10px;
  padding: 50px;
  margin-top: 5px;
  margin-left: 55px;
  box-shadow: 0 10px 10px rgb(129, 129, 129);
}
.box3 {
  background-color: white;
  display: flex;
  width: 190px;
  height: 10px;
  padding: 50px;
  margin-top: 5px;
  margin-left: 40px;
  box-shadow: 0 10px 10px rgb(129, 129, 129);

}
.box4 {
  background-color: white;
  display: flex;
  width: 190px;
  height: 10px;
  padding: 50px;
  margin-top: 5px;
  margin-left: 40px;
  box-shadow: 0 10px 10px rgb(129, 129, 129);
}
.caixas {
  display: flex;
  flex-wrap: wrap;
}
.imagem1{
  width: 26px;
  height: 35px;
  margin-left: -50px;
  margin-top: -40px;
  display: flex;
}
.imagem{
  display: flex;
  margin-left: 10px;
}
.Feminino{
  margin-top: -40px;
  margin-left: -10px;
  display: flex;
}
.img2{
  width: 20px;
  height: 30px;
  margin-left: -35px;
  margin-top: -40px;
  display: flex;
}
.Masculino{
  margin-top: -30px;
  display: flex;
}
.img3{
  width: 20px;
  height: 30px;
  margin-left: -38px;
  margin-top: -40px;
  display: flex;
}
.Infantil{
  margin-top: -30px;
 
  display: flex;
}
.img4{
  width: 20px;
  height: 30px;
  margin-left: -40px;
  margin-top: -40px;
  display: flex;
}
.Calçados{
   width: 15px;
   height: 20px;
  margin-top: -30px;
  display: flex;
}
.guardar{
  display: flex;
  margin-left: -20px;
}
.Femdescric{
  display:flex;
  font-size: 10px;
  margin-top: 5px;
}
.Valor{
  margin-top: -35px;
  margin-left: 68px;
  border-radius: 10px;
  background-color: #011141;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Mascdescric{
  display: flex;
  font-size: 10px;
  
}
.Valor2{
  margin-top: -35px;
  margin-left: 75px;
  border-radius: 10px;
  background-color: #011141;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Infantdescric{
  font-size: 10px;
}
.Valor3{
  margin-top: -35px;
  margin-left: 55px;
  border-radius: 10px;
  background-color: #011141;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Caldescric{
  font-size: 10px;
}
.Valor4{
  margin-top: -35px;
  margin-left: 69px;
  border-radius: 10px;
  background-color: #011141;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Aumentarfun{
  display: flex;
  margin-top: -39px;
  margin-left: 150px;
  background-color: #011141;
  color: white;
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Itens{
  display: flex;
  margin-top: -5px;
  margin-left: 90px;
}
.Aumentarfun2{
  display: flex;
  margin-top: -39px;
  margin-left: 150px;
  background-color: #011141;
  color: white;
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Itens2{
 margin-top: 5px;
 margin-left: 5px;
}
.Aumentarfun3{
  display: flex;
  margin-top: -37px;
  margin-left: 150px;
  background-color: #011141;
  color: white;
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Itens3{
  display:flex;
  margin-top: 22px;
  margin-left: 90px;
}
.Aumentarfun4{
  display: flex;
  margin-top: -37px;
  margin-left: 150px;
  background-color: #011141;
  color: white;
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Itens4{
  display: flex;
  margin-top: -1px;
  margin-left: 85px;
}
.Feminino{
  display: flex;
  font-size: 18px;
}
.texto{
  margin-top: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.texto2{
  margin-top: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding:3px;
}
.inicio{
  background-color:#011141;
  color: white;
  font-family: times;
}
.textoprincipal{
  font-family: times;
}
.button2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.texto{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.Infantdescric{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.Femdescric{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.Mascdescric{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.Caldescric{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.cabeçalho2{
  background-color: #011141;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.inicio3{ 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 50px;
  background-color: #011141;
  color: white;
}
.sobre{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.linhafter::after{
  display: flex;
  content:'';
  position:absolute;
  width: 3px;
  height: 3px;
  background-color: black;
  transition: width 0.4s ease;
  left:50%;
  transform: translateX(-50%);
  margin-top: -20px;
}
.linhafter:hover:after{
  width:100%;
}
.fem{
  display: flex;
  margin-left: 60px;
  margin-top: -100px;
}
.campodtexto0{
  display: flex;
  margin-top: 55px;
  margin-left: 60px;
}
.caixa1{
  display: flex;
  width: 130px;
  height: 1px;
  padding: 50px;
  margin-top: 5px;
  margin-left:33px;
  box-shadow: 0 10px 10px rgb(129, 129, 129);
  transform: translateX(15px);
}
.botao{
  display: flex;
  margin-left: 75px;
  margin-top: 10px;
  background-color: #011141;
  color: white;
}
.caixa2{
  display: flex;
  width: 130px;
  height: 1px;
  padding: 50px;
  margin-top: -169px;
  margin-left:333px;
  box-shadow: 0 10px 10px rgb(129, 129, 129);
  transform: translateX(15px);
}
.masc{
  display: flex;
  margin-left: 400px;
  margin-top: -90px;
}
.campodtexto3{
  display: flex;
  margin-top: 50px;
  margin-left: 360px;
}
.botao2{
  display: flex;
  margin-left: 380px;
  margin-top: 10px;
  background-color: #011141;
  color: white;
}
.caixa3{
  display: flex;
  width: 130px;
  height: 1px;
  padding: 50px;
  margin-top: -172px;
  margin-left:633px;
  box-shadow: 0 10px 10px rgb(129, 129, 129);
  transform: translateX(15px);
}
.infa2{
  display: flex;
  margin-left: 690px;
  margin-top: -95px;
}
.campodtexto4{
  display: flex;
  margin-top: 55px;
  margin-left: 665px; 
}
.botao3{
display: flex;
margin-left: 685px;
margin-top: 10px;
background-color: #011141;
color: white;
}
.caixa4{
  display: flex;
  width: 130px;
  height: 1px;
  padding: 50px;
  margin-top: -173px;
  margin-left:933px;
  box-shadow: 0 10px 10px rgb(129, 129, 129);
  transform: translateX(15px);
}
.cal2{
  display: flex;
  margin-left: 990px;
  margin-top: -95px; 
}
.campodtexto5{
  display: flex;
  margin-top: 55px;
  margin-left: 965px; 
}
.botao4{
display: flex;
margin-left: 985px;
margin-top: 10px;
background-color: #011141;
color: white;
}
.Femdesc{
  display: flex;
  font-size: 8px;
  margin-left: 50px;
  margin-top: 10px;
}
.Femdes{
  display: flex;
  font-size: 8px;
  margin-left: 50px;
  margin-top: -15px;
}
.masc1{
  display: flex;
  font-size: 8px;
  margin-left: 350px;
}
.masc2{
  display: flex;
  font-size: 8px;
  margin-left: 350px;
  margin-top: -20px;
}
.infa1{
display: flex;
font-size: 8px;
margin-left: 650px;
}
.infa3{
display: flex;
font-size: 8px;
margin-left:650px;
margin-top: -20px;
}
.calç2{
  display: flex;
font-size: 8px;
margin-left:950px;
}
.calç4{
  display: flex;
font-size: 8px;
margin-left:950px;
margin-top: -20px;
}